* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    max-width: 1170px;
    margin: auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  ul {
    list-style: none;
  }
  
  .footer {
    background-color: black;
    padding: 70px 0;
    position: relative;
    bottom: 0;

    width: 100%;
  }
  
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  
  .footer-col h4 {
    font-size: 14px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  .footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    /* background-color: #e91e63; */
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .footer-col ul li {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    margin-bottom: 30px;
    /* transition: all 0.3s ease; */
    cursor: pointer;
    text-align: center;
  }
  
 
  .footer-bottom {
    background-color: black;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .footer-bottom span {

    color: white;
    text-align: center;

  }
  .footer-bottom span h2{
    /* margin-top: 5px; */
    margin-bottom: 5px;
  }

  .footer-bottom span p{
    /* margin-top: 5px; */
    margin-bottom: 5px;
    font-size: small;
  }


/* responsive */
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 400px) {
  .footer {
    padding: 50px 0;
  }

  .footer-col {
    padding: 0 10px;
  }

  .footer-col h4 {
    margin-bottom: 25px;
  }

  .footer-col h4::before {
    width: 30px;
  }

  .footer-bottom span {
    font-size: 12px;
  }
}
  